@charset "utf-8";
/* CSS Document */
.img{width:100%;
background:url(../images/img_02.jpg) no-repeat top center;
height:170px;}
.navson{width:100%;
}
.navson1{width:1004px;
height:50px;
line-height:50px;
margin:0 auto;
font-family:"宋体";
font-size:12px;
color:#777777;
}
.navson1 a{color:#777777;}
.navson1 a:hover{color:red;}
.main{width:100%;
}
.main1{width:1026px;
margin:0 auto;}
.main1 .left{width:260px;
float:left;
margin-right:29px;
border:1px solid #eeeeee;
padding-bottom:406px;
}
.main1 .left h2{
width:229px;
background: url(../images/pic2_03.jpg) no-repeat 18px center,url(../images/img_05.jpg) no-repeat left top,#e7000f;
line-height:27px;
padding-top:33px;
padding-bottom:32px;
color:#fafeff;
font-family:"黑体";
font-size:22px;
padding-left:30px;
border:1px solid #f2ebe1;
margin-bottom:10px;
}
.main1 .left h2 span{font-size:20px;}
.main1 .left p{border:1px solid #f2ebe1;
margin-bottom:1px;
background:url(../images/img_16.jpg) no-repeat 19px 19px,url(../images/img_13.jpg) repeat-x; 
height:44px;
line-height:44px;
}
.main1 .left p a{color:#666666;
font-family:"黑体";
font-size:16px;
display:block;
padding-left:39px;}
.main1 .left p a:hover{background: url(../images/pic_03.jpg) no-repeat 17px 20px,#c50110;
color:#ffffd9;
}
.CollapsiblePanelContent p{
	border-left:1px solid #eeeeee;
	border-right:1px solid #eeeeee;
	height:35px;
	line-height:35px;
	}
.CollapsiblePanelContent p a{color:#666666;
font-family:"宋体";
padding-left:39px;
font-size:14px;
display:block;
background:#dfdfdf url(../images/pic4_03.jpg) no-repeat 12px center;
}
.main1 .left .CollapsiblePanelContent p a:hover{
	background:url(../images/img5_03.jpg) no-repeat 12px center,#e60214 ;
	font-family:"宋体";
	font-size:14px;
	color:#ffffff;
	
		}

.main1 .right{width:692px;
float:left;
padding-top:21px;
padding-left:16px;
padding-right:17px;
border:1px solid #eeeeee;
border-bottom:0;
margin-bottom:55px;
}
.main1 .right h2{height:45px;
line-height:45px;
font-size:22px;
font-family:"黑体";
color:#e50012;
border-bottom:1px solid #eeeeee;
text-align:center;
}
.main1 .right p:nth-child(2){height:42px;
line-height:42px;
font-size:12px;
font-family:"宋体";
margin-bottom:60px;
color:#666666;
text-align:center;
text-indent:28px;
}
.main1 .right p:nth-child(3),.main1 .right p:nth-child(4),.main1 .right p:nth-child(5),.main1 .right p:nth-child(6){
line-height:39px;
font-size:14px;
font-family:"宋体";
margin-bottom:16px;
color:#666666;
text-indent:28px;
}
.main1 .right p:nth-child(7){
height:75px;
line-height:75px;
font-size:14px;
font-family:"宋体";
color:#666666;
text-indent:28px;
}
