@charset "utf-8";
/* CSS Document */
.main .contact .right img{float:left; padding-right:12px;}
.main .contact .right p{color:#666666; line-height:36px; font-size:14px; text-indent:28px; padding-right:20px;}

