@charset "utf-8";
/* CSS Document */
.box .main .pic h2{margin-bottom:38px; padding-left:111px;}
.box .main .pic ul{width:713px; margin-left:106px;}
.box .main .pic ul li{float:left;}
.box .main .pic ul li p{height:64px; line-height:64px; font-size:16px; color:#555555; text-align:center;}

